# Compiler files
cache/
out/
zkout/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
!.env.example

# snapshots
.gas-snapshots
.gas-snapshot

# Coverage
lcov.info
coverage/

# Editor / OS
.DS_Store
.idea/
*.swp